build/
builddir/
runtime/
temp/
shaderc
rayjs
rayjs.app/
rayjs.exe
include/generated/
.local/
.DS_Store
controls_test
controls_test.exe
debug_interpolation.tga
result.tga
lightmapper_example
lightmapper_example.exe
result.png
monkey.obj
my_result.png
thirdparty/quickjsapp/premake5.lua
thirdparty/quickjsapp/libquickjs.a
